routing-options {
    router-id {{router_id}};
}
protocols {
    bgp {
        replace: group OVERLAY {
            type external;
            multihop;
            local-address {{router_id}};
            family evpn {
                signaling;
            }
            local-as {{local_as}};
{% for device in spines:%}
            neighbor {{device}} {
                peer-as 65000;
            }
{% endfor %}
        }
    }
    ospf {
        replace: area 0.0.0.0 {
            interface lo0.0 {
                passive;
            }
{% for i in range(0,spines|length) %}
            interface xe-0/0/{{i}}.0;
{% endfor %}
        }
    }
    evpn {
        encapsulation vxlan;
        multicast-mode ingress-replication;
        extended-vni-list all;
    }
}
switch-options {
    vtep-source-interface lo0.0;
    route-distinguisher {{router_id}}:1;
    vrf-target target:65000:1;
}