interfaces {
{% for i in range(0,spines|length) %}
    replace: xe-0/0/{{i}} {
        description "to-spine {{i}}";
        unit 0 {
            family inet {
                address 172.16.{{i+1}}.{{device_id }}1/31;
            }
        }
    }
{% endfor %}
    lo0 {
        unit 0 {
            family inet {
                address {{router_id}}/32;
            }
        }
    }
}